footer {
  background-color: var(--pry-color);
  padding: 3rem 0;
}
.footer-logo img {
  width: 20%;
}
footer hr {
  margin: 2rem 0;
  border: none;
  background-color: var(--sec-color);
  padding: 0.01rem;
}
footer .footer-content-one h6 {
  font-family: roboto-bold;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.footer-social {
  color: var(--mainWhite);
}
.footer-social .social-item {
  /* display: flex; */
}
footer .footer-social p {
  color: var(--mainWhite);
  font-size: 0.6rem !important;
  text-transform: uppercase;
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
}
footer .footer-content-one ul {
  font-size: 0.7rem;
  text-transform: capitalize;
}
.social-item {
  display: flex;
  justify-content: flex-start;
}
.social-item li {
  padding-right: 4rem;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainWhite);
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
}
.footer-copyright a {
  color: var(--mainWhite) !important;
}
@media (max-width: 600px) {
  .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-item li {
    padding: 0 1rem;
  }
  footer .footer-social p {
    display: flex;
    justify-content: center;
    align-items: center !important;
    text-align: center;
  }
}
