.home-about {
  padding: 3rem 0rem;
  background-color: var(--mainGrey);
}

.home-about-header h3 {
  display: inline-block;
  padding: 0 0 0.7rem 0;
  position: relative;
  color: var(--pry-color);
  font-size: 35px;
}
.home-about-header h3 span {
  background-color: var(--sec-color);
  color: var(--mainWhite);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.home-about-header p {
  font-weight: bold;
  color: var(--pry-color);
  font-family: roboto;
}
.home-about-header h3::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid var(--sec-color);
}
.home-about-image-container {
  padding: 2rem 0 0 0;
}
@media (max-width: 600px) {
  .home-about-header h3 {
    display: inline-block;
    padding: 0 0 0.7rem 0;
    position: relative;
    color: var(--pry-color);
    font-size: 30px;
  }
}
