nav.trans-nav {
  position: fixed;
  /* background-color: transparent; */
  background-color: rgb(255, 255, 255);
  z-index: 10;
  height: 64px;
  box-shadow: none;
}

.nav-login-group {
  display: flex;
}

nav {
  background-color: var(--mainWhite) !important;
}
.nav-item a {
  color: var(--mainBlack) !important;
}
.brand-logo img {
  width: 45%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 0px 0 18px !important;
}
.sidenav {
  background-color: var(--pry-color) !important;
  color: var(--mainWhite) !important;
}
.sidenav-logo {
  padding: 2rem 0;
}
.sidenav-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-logo img {
  width: 35%;
  /* text-align: center; */
}
.signup-style {
  background-color: var(--sec-color);
}
.login-style a {
  color: var(--pry-color) !important;
}
.login-style {
  background: var(--mainWhite);
}
.sidenav .sidenav-login {
  color: var(--pry-color) !important;
}
.sidenav .sidenav-footer {
  margin: 100px 0 0 0;
  position: absolute;
  width: 100%;
  bottom: 70px;
  color: var(--mainWhite) !important;
}
.sidenav li > a {
  font-family: roboto-bold;
  font-size: 1.2rem !important;
  margin: 0.3rem 0 0 0;
  text-transform: capitalize !important;
  color: var(--mainWhite) !important;
}
.sidenav-footer {
  margin: 100px 0 0 0;
  position: absolute;
  width: 100%;
  bottom: 70px;

  color: var(--mainWhite) !important;
}
.sidenav .sidenav-footer p {
  font-size: 0.5rem !important;
}
@media only screen and (min-width: 601px) {
  .sidenav {
    width: 50% !important;
  }

  .sidenav-footer {
    margin: 100px 0 0 0;
    position: absolute;
    width: 100%;
    bottom: 70px;
    color: var(--mainWhite) !important;
  }
  .sidenav {
    background-color: var(--vasitiBlack);
    color: var(--mainWhite);
    overflow-y: hidden;
  }
  .sidenav li > a {
    font-size: 2.2rem !important;
    margin: 0.6rem 0 0 0;
    text-transform: capitalize !important;
  }
  .sidenav .sidenav-footer p {
    font-size: 0.8rem !important;
  }
}
/* @media (min-width: 993px) {
  .container {
    width: 80% !important;
  }
} */
